version: "3.3"

networks:
  nginx_shared_net:
    external: true

services:
  pocket:
    container_name: pocket
    build: .
    privileged: true
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - ./:/app:ro
      - ./pocket:/pocket
    restart: unless-stopped
    networks:
      nginx_shared_net:
        ipv4_address: 172.20.0.20